.user-view {
    border-bottom: 3px solid rgb(98, 98, 243);
}

.user-section {
    padding-right: 20px;
    padding-left:20px ;
}

.user-table-header {
    background-color: #e6e6e6;
}

.gridjs-sort {
    display: none !important;
}

.gridjs-pagination {
    display: flex;
    justify-content: space-between ;
    margin-right:10px ;
}
.gridjs-input{
    width: 100%;
    border-radius: 3px;
    outline: none;
}

.gridjs-pages {
    justify-content:flex-end ;
}
.modal-content{
    width: 100% !important;
}